<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>upcomingFeatures</title>

<!--for carouser bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!---->
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Women's Fashion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="../static/fonts/fontawesome-free-5.15.4-web/css/all.min.css">
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- faizan -->
<link rel="stylesheet" href="static/css/main.css">
<!-- faizan -->

<!-- js -->
<script src="static/js/jquery.min.js"></script>
<!-- //js -->
<!-- countdown -->
<link rel="stylesheet" href="static/css/jquery.countdown.css" />
<!-- //countdown -->
<!-- cart -->
<script src="static/js/simpleCart.min.js"></script>
<!-- cart -->
<!-- for bootstrap working -->
<script type="text/javascript" src="static/js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<!-- start-smooth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- //end-smooth-scrolling -->

		
</head>
<body>

	<header>
		<!-- navbar cat -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a href="#"><img class="navbar-brand" src="../static/images/logo1.png" alt=""></b></a>  		
				<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Collection of nav links, forms, and other content for toggling -->
				<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
						<div class="navbar-nav">							
								<a href="http://127.0.0.1:5000/" class="nav-item-101 nav-link active"><i class="fas fa-home"></i>Home</a>
								<a href="http://127.0.0.1:5000/" class="nav-item-101 nav-link "><i class="fas fa-check-double"></i>About</a>			
								<a href="http://127.0.0.1:5000/" class="nav-item-101 nav-link"><i class="fas fa-shopping-cart"></i>Products</a>
								<a href="http://127.0.0.1:5000/Features" class="nav-item-101 nav-link"><i class="fas fa-clipboard-list"></i>Features</a>
								<a href="#upcomingFeatures" class="nav-item-101 nav-link"><i class="fas fa-clipboard-list"></i>Upcoming Features</a>
								<a href="#contact_us" class="nav-item-101 nav-link"><i class="fas fa-phone-square-alt"></i></i>Contact</a>
								<a href="https://www.facebook.com/AR-Ecommerce-Shop-101277891794817" class="Contact-101f bg-121"><i class="fab fa-facebook-f"></i></a>
								<a href="https://www.instagram.com/arecommerceshop/" class="contact-101i bg-122"><i class="fab fa-instagram"></i></a>
								<a href="https://chat.whatsapp.com/HPj7kPoCuMFCbTubX3twlq" class="contact-101w bg-123"><i class="fab fa-whatsapp"></i></a>            														
							</div>
					<div class="headname">
							<a href="http://127.0.0.1:5000" ><h1>Our Features</h1></a>
					</div>
		<div class="navbar-nav ml-auto action-buttons">
			<!--Logout-->
			<a href="http://127.0.0.1:5000/logout" style="color: blue; font-weight: bold">
				<i class="fas fa-sign-out-alt"></i>Logout
			</a>
	</header>			
				
	<!-- slider -->
	
	
	<center>
	<img class="feature-bannar" src="../static/images/banner/featuresban-1.jpg" alt="">
	</center>
				
<section>
	
	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
			<div class="container">
				
				
				<div class="row">
					<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
						<div class="p-t-5 p-l-85 p-l-15-lg p-l-0-md">
							<h3 class="mtext-111 cl2 p-b-16" style="color:brown">
								<strong>
									Sunglasses
								</strong>
							</h3>
	
							<p class="stext-113 cl6 p-b-26">
							Welcome to the exclusive collection of Sunglasses. Sunglasses on this website will be best for our consumers and will be available at a very low price. You can find all the branded sunglasses at one place and can find the best deals from our website.
	
							</p>
	
							<p class="stext-113 cl6 p-b-26">
							You can have a look of how the sunglasses fits on your face with the feature of virtual room that we have provided on our website. Here the consumer will find all the variety of sunglasses available in different colours and patterns. You can find all the sunglasses from classical to sports sunglasses. 
	
							</p>
	
						</div>
					</div>
					<div class="p-t-5 col-11 col-md-5 col-lg-4 m-lr-auto">
						<div class="how-bor1 ">
							<div class="hov-img0">
								<img class="features-p2" src="https://www.itl.cat/pics/b/18/189834_sunglass-wallpaper.jpg" alt="IMG">
							</div>
						</div>
					</div>

				</div>
				
				<div class="row">
					<div class=" col-md-7 col-lg-8 p-b-50">
						<div class="p-t-100 p-l-15 p-l-15-lg p-l-0-md">
							<h3 class="mtext-111 cl2 p-b-16" style="color: brown">
								<strong>
									Necklaces
								</strong>
							</h3>
	
							<p class="stext-113 cl6 p-b-26">
							Welcome to the exclusive collection of Necklaces. Necklaces on this website will be best for our consumers and will be available at a very low price. You can find all the branded necklaces at one place and can find the best deals from our website.
	
							</p>
	
							<p class="stext-113 cl6 p-b-26">
							You can have a look of how the necklace fits on you with the feature of virtual room that we have provided on our website. Here the consumer will find all the variety of necklaces available in different colours and patterns. You can find all the necklaces from traditional to latest trends. 
							</p>
	
						
						</div>
					</div>
					<div class="p-t-85 order-md-1 col-11 col-md-7 col-lg-4 m-lr-auto p-b-500">
						<div class=" how-bor2" >
							<div class="hov-img0">
								<img class= "features-p3" src="https://c1.wallpaperflare.com/preview/765/854/523/necklace-crystal-necklace-statement-necklace-crystal.jpg" alt="IMG">
							</div>
						</div>
					</div>
	
				</div>
				<div class="row">
					<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
						<div class="p-t-100 p-l-85 p-l-15-lg p-l-0-md">
							<h3 class="mtext-111 cl2 p-b-16" style="color:brown">
								<strong>
									Earings
								</strong>	
							</h3>
	
							<p class="stext-113 cl6 p-b-26">
							Welcome to the exclusive collection of Earings. Earings on this website will be best for our consumers and will be available at a very low price. You can find all the branded Earings at one place and can find the best deals from our website.
	
							</p>
	
							<p class="stext-113 cl6 p-b-26">
							You can have a look of how the earings fits on your face with the feature of virtual room that we have provided on our website. Here the consumer will find all the variety of earings available in different colours and patterns. You can find all the earings from classical to latets trending designs of earings. 
	
							</p>
	
						</div>
					</div>
					<div class="p-t-100 col-11 col-md-5 col-lg-4 m-lr-auto">
						<div class="how-bor1 ">
							<div class="hov-img0">
								<img class= "features-p4" src="https://www.seekpng.com/png/detail/127-1271531_diamond-earring-png-diamond-earrings-png-hd.png" alt="IMG">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class=" col-md-7 col-lg-8 p-b-50">
						<div class="p-t-100 p-l-15 p-l-15-lg p-l-0-md">
							<h3 class="mtext-111 cl2 p-b-16" style="color:brown">
								<strong>
									Tiaras
								</strong>
							</h3>
	
							<p class="stext-113 cl6 p-b-26">
							Welcome to the exclusive collection of Tiaras. Tiaras on this website will be best for our consumers and will be available at a very low price. You can find all the branded Tiaras at one place and can find the best deals from our website.
	
							</p>
	
							<p class="stext-113 cl6 p-b-26">
							You can have a look of how the tiara fits on your face with the feature of virtual room that we have provided on our website. Here the consumer will find all the variety of tiaras available in different colours and patterns. You can find all the tiaras from classical to different design tiaras. 
				
						</p>
	
						
						</div>
					</div>
					<div class="p-t-85 order-md-1 col-11 col-md-7 col-lg-4 m-lr-auto p-b-500">
						<div class=" how-bor2" >
							<div class="hov-img0">
								<img class="features-p5" src="https://msamericapageant.com/clients/873634/6557301_org.jpg" alt="IMG">
							</div>
						</div>
					</div>
	

				</div>
				
				
			</div>
		</section>	
	
	

<!-- upcomingFeatures -->
<hr id="upcomingFeatures">
<section class="bg0 p-t-75 p-b-120">
	<div class="container">

<div class="row">
	<div class=" col-md-7 col-lg-8 p-b-50">
		<div class="p-t-100 p-l-15 p-l-15-lg p-l-0-md">
			<h2 style="color: blueviolet; font-weight: bold">
				<strong>
					UPCOMING FEATURES				
				</strong>
			</h2>
	
			<ul>
				<li>
				<p class="stext-113">
					Our aim to lead our 2D images to 3D modeling view. 
				</p>
				<p class="stext-113">
					It can show what a product looks like in a user's space, 
				</p>
				<p class="stext-113">
					making it much easier to make a buying decision.
				</p>
			<br>
	
				</li>
				<li>
					<p class="stext-113">
						After building web app our target is to build a mobile 
					</p>	
					<p class="stext-113">
						app in future.
					</p>
				</li>
	
			<br>
			
				<li>
					<p class="stext-113">
						In addition, our plan is to upgrade with providing complete 
					</p>
					<p class="stext-113">
						attire look for try on feature for both gender.
					</p>
				</li>
			
			<br>
			
				<li>
					<p class="stext-113">
						Moreover, an increment in product items  
					</p>
					<p class="stext-113">
						will be included with furniture, paintings and household items for try 
					</p>
					
					<p class="stext-113">
						before buying.
					</p>
				</li>
	
			<br>
				<li>
					<p class="stext-113">
						AR Ecommerce store intend to increase brand awareness to build stronger 
					</p>
					<p class="stext-113">
						marketing and it implementation of upgraded AR technology 
					</p>
					<p class="stext-113">
						would boost brands sale and will make it modern, advanced, 
					</p>
					<p class="stext-113">
						innovative and interesting.
					</p>
				</li>
			</ul>
	
		
		</div>
	</div>
	<div class="p-t-85 order-md-1 col-11 col-md-7 col-lg-4 m-lr-auto p-b-500">
		<div class=" how-bor2" >
			<div class="hov-img0">
				<img class= "featuresup-p3" src="../static/images/banner/featureup-1.jpg" alt="IMG">
			</div>
		</div>
	</div>

</div>

</div>

<hr>
<!-- more features -->

<div class="bg-morefeature">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img src="../static/images/small-banners/104.jpg" alt="">
					<h2 class="f321">
							Visual Merchandise
					</h2>
					<p class="f3212">
							TryOn is an Augmented Reality based virtual dressing room app that digitally manages your limitless product options ensuring ease of access and allows you better in-Store merchandise display with a virtual mirror, enabling a rich visual experience.
					</p>
				</div>
				<div class="col-md-4">
						<img src="../static/images/small-banners/105.jpg" alt="">
						<h2 class="f321">
								Better Store Management
						</h2>
						<p class="f3212">
								With the virtual dressing room app, the usage of trial room is reduced thereby ensuring reduced damage to the inventory. A choice of trying maximum dresses virtually in lesser time with rich visualization on the virtual mirror is an additional factor for a better store management.					
						</p>
						<p class="f3212">
								The photo-accurate virtual dressing room app enables customers to try various clothes and accessories virtually without any inconvenience.						
						</p>	
				</div>
				<div class="col-md-4">
						<img src="../static/images/small-banners/106.jpg" alt="">
						<h2 class="f321">
								Increase in Sales
						</h2>
						<p class="f3212">
								Based on augmented reality shopping, this virtual dressing room app empowers your customer with a Virtual Trial Room.
						</p>
						<p class="f3212">
								The use of the virtual mirror will subsequently make the entire shopping a lucrative business with better customer recall and retention, thereby increasing your sales.					
						</p>	
	
				</div>
	
			</div>
		</div>
	
	</div>
<hr>

<br>
  <!-- contact -->
  
  <div id="contact_us" class="bg501">  
		<center>
		  <strong>
			<h1 style="font-weight: bold; color: black">
			  FOR MORE DETAILS
			</h1>
		  </strong>
		<h3 class="mtext-111 cl2 p-b-16" style="font-weight: bold; color: darkred; font-weight: bold;">
		  Contact Us
		</h3>
		
		<p class="stext-113 cl6 p-b-26"  style="color: black">
		  Any questions? Let us know <br>IQRA UNIVERSITY, <br>Block 2 Abid Town Block 2  <br>Gulshan-e-Iqbal, Karachi, Karachi City, Sindh,Pakistan.<br>+92333-2122367 
		</p>
		</center>
		
		<br><br>
		  <center>
		  <h2 style="color: brown;">
			<strong>
				<i class="fas fa-check-circle"></i>
			  Follow Us
			</strong>
		  </h2>
		  </center>
		<center>
		  <a href="https://www.facebook.com/AR-Ecommerce-Shop-101277891794817" class="Contact-101f"><i class="fab fa-facebook-f"></i> Facebook</a>
		  <a href="https://www.instagram.com/arecommerceshop/" class="contact-101i"><i class="fab fa-instagram"></i> Instagram</a>
		  <a href="https://chat.whatsapp.com/LUkH9Xs3K5e8fMn3mF3Mgx" class="contact-101w"><i class="fab fa-whatsapp"></i> WhatsApp</a>            
			<br>
		  <a href="http://127.0.0.1:5000/" class="goto-home"><i class="fab fa-home"></i> Home</a>
		</center>
			</div>
		
		<hr>



<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="background-color:black">

	<div style="background-color: #6351ce; color: black;">
	  <div class="container">
  
		<!-- Grid row-->
		<div class="row py-4 d-flex align-items-center">
  
		  <!-- Grid column -->
		  <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
			<h6 class="mb-0">Let's TryOn our products virtually</h6>
		  </div>
		  <!-- Grid column -->
  
		  <!-- Grid column -->
		  <div class="col-md-6 col-lg-7 text-center text-md-right">
  
			<!-- Facebook -->
			<a class="fb-ic" href="https://www.facebook.com/AR-Ecommerce-Shop-101277891794817" style="color: black">
			  <i class="fab fa-facebook-f white-text mr-4"> </i>
			</a>
			<!-- Twitter -->
			<a class="tw-ic" style="color:black">
			  <i class="fab fa-twitter white-text mr-4"> </i>
			</a>
			<!-- Google +-->
			<a class="gplus-ic" style="color:black" href="https://mail.google.com/mail/u/0/?tab=cm">
			  <i class="fab fa-google-plus-g white-text mr-4"> </i>
			</a>
			<!--Linkedin -->
			<a class="li-ic" style="color:black" href="">
				<i class="fab fa-whatsapp white-text mr-4"></i>
			</a>
			<!--Instagram-->
			<a class="ins-ic"  href="https://www.instagram.com/arecommerceshop/" style="color:black">
			  <i class="fab fa-instagram white-text"> </i>
			</a>
  
		  </div>
		  <!-- Grid column -->
  
		</div>
		<!-- Grid row-->
  
	  </div>
	</div>
  
	<!-- Footer Links -->
	<div class="container text-center text-md-left mt-5">
  
	  <!-- Grid row -->
	  <div class="row mt-3">
  
		<!-- Grid column -->
		<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
		  <!-- Content -->
		  <h6 class="text-uppercase font-weight-bold">Company Scope</h6>
		  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
		  <p>Our Aim is to enable user to choose clothes, Shoes & Glasses best for them, without them having to go through the failure to buying some clothes and getting them size in a manner not suited for their need or body type.</p>
  
		</div>
		<!-- Grid column -->
  
		<!-- Grid column -->
		<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
		  <!-- Links -->
		  <h6 class="text-uppercase font-weight-bold">Project</h6>
		  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
		  <p>
			  <a href="http://127.0.0.1:5000/#about-page" class="link-footer-101">About-Us</a>	</p>
			<br>
		  <p>
			<a href="http://127.0.0.1:5000/Features" class="link-footer-101">Features</a>
		  </p>
		<br>
		  <p>
			<a href="#upcomingFeatures" class="link-footer-101">Upcoming Features</a>
		  </p>

		</div>
		<!-- Grid column -->
  
		<!-- Grid column -->
		<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
		  <!-- Links -->
		  <h6 class="text-uppercase font-weight-bold">GET IN TOUCH</h6>
		  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
		  <p>
				Any questions?  				
		  </p>
			<p>
					Let us know <br>IQRA UNIVERSITY, <br>Block 2 Abid Town <br>Gulshan-e-Iqbal, Karachi, Karachi City, Sindh,Pakistan.<br>+92333-2122367
			</p>
		</div>
		<!-- Grid column -->
  
		<!-- Grid column -->
		<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
		  <!-- Links -->
		  <h6 class="text-uppercase font-weight-bold">Contact</h6>
		  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
		  <p>
			<i class="fas fa-home mr-3"></i>Karachi,Sindh,Pakistan.</p>
		  <p>
			  <br>
			<i class="fas fa-envelope mr-3"></i>arecommerceshop@gmail.com</p>
			<br>
		<p>
			<i class="fas fa-phone mr-3"></i> + 92 333 2122367</p>
		  <p>
			  <br>
			<i class="fas fa-print mr-3"></i> + 92 336 3152286</p>
  
		</div>
		<!-- Grid column -->
  
	  </div>
	  <!-- Grid row -->
  
	</div>
	<!-- Footer Links -->
  
	
	<!-- Footer Elements -->
	<div>
  
			<!-- Call to action -->
			<ul class="list-unstyled list-inline text-center py-2">
			  <li class="list-inline-item">
				  <strong><h4 class="mb-1">Register for free</h4></strong>
			  </li>
			  <li class="list-inline-item">
				  <button class="button-btnsignup">  <a href="#!" class="btnsignup btn-outline-white btn-rounded">Sign up!</a></button>
			  </li>
			</ul>
			<!-- Call to action -->
	  
	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© 2021 Copyright:
	  <a href="http://127.0.0.1:5000/" class="link-footer-101">www.ares.com</a>
	</div>
	<!-- Copyright -->
  
  </footer>
  <!-- Footer -->
		</body>

</html>