<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<!--for carouser bootstrap-->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!---->
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Women's Fashion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="../static/fonts/fontawesome-free-5.15.4-web/css/all.min.css">
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- faizan -->
<link rel="stylesheet" href="static/css/main.css">
<!-- faizan -->

<!-- js -->
<script src="static/js/jquery.min.js"></script>
<!-- //js -->
<!-- countdown -->
<link rel="stylesheet" href="static/css/jquery.countdown.css" />
<!-- //countdown -->
<!-- cart -->
<script src="static/js/simpleCart.min.js"></script>
<!-- cart -->
<!-- for bootstrap working -->
<script type="text/javascript" src="static/js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<link rel="stylesheet" href="static/css/jquery.countdown.css" />
<!-- //countdown -->
<!-- cart -->
<script src="static/js/simpleCart.min.js"></script>
<!-- cart -->
<link rel="stylesheet" href="static/css/jquery.countdown.css" />
<!-- //countdown -->
<!-- cart -->
<script src="static/js/simpleCart.min.js"></script>
<!-- cart -->
<!-- start-smooth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- //end-smooth-scrolling -->

<style>
	/* Button Try & Checkout */
.button 
{
    background-color: darkslateblue;
	border: none;
	border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
	font-weight: bold;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
</style>
</head>
	
<body>
	<header>
			<!-- navbar cat -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<!--<a href="#"><img class="navbar-brand" src="../static/images/logo1.png" alt=""></b></a>  -->
					<span>3D Shop</span>		
					<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
						<span class="navbar-toggler-icon"></span>
					</button>
					<!-- Collection of nav links, forms, and other content for toggling -->
					<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
							<div class="navbar-nav">							
								<a href="http://127.0.0.1:5000" class="nav-item-101 nav-link active"><i class="fas fa-home"></i>Home</a>
								<a href="#about-page" class="nav-item-101 nav-link "><i class="fas fa-check-double"></i>About</a>			
								<a href="#prouctonsamepage" class="nav-item-101 nav-link"><i class="fas fa-shopping-cart"></i>Products</a>
								<!--<a href="http://127.0.0.1:5000/Features" class="nav-item-101 nav-link"><i class="fas fa-clipboard-list"></i>Features</a>
								<a href="http://127.0.0.1:5000/checkOut" class="nav-item-101 nav-link"><i class="fas fa-receipt"></i>Your Bill</a>-->
								<a href="#contact_us" class="nav-item-101 nav-link"><i class="fas fa-phone-square-alt"></i></i>Contact</a>
								<!--<a href="https://www.facebook.com/AR-Ecommerce-Shop-101277891794817" class="Contact-101f bg-121"><i class="fab fa-facebook-f"></i></a>
								<a href="https://www.instagram.com/arecommerceshop/" class="contact-101i bg-122"><i class="fab fa-instagram"></i></a>
								<a href="https://chat.whatsapp.com/HPj7kPoCuMFCbTubX3twlq" class="contact-101w bg-123"><i class="fab fa-whatsapp"></i></a>    -->        														
							</div>
						<div class="headname">
							<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
								<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
									<i class="fas fa-user"></i>
									<div class="col-12">
						 {% block content %}{% endblock %}
						 </div>
								</div>
						 </main>
					</div>
			<div class="navbar-nav ml-auto action-buttons">
			<!--Logout-->
			<a href="http://127.0.0.1:5000/logout" style="color: blue; font-weight: bold">
				<i class="fas fa-sign-out-alt"></i>Logout
			</a>
		</header>			

		<!-- slider -->
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
	  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img class="d-block w-100" src="../static/images/banner/banner img.jpeg" alt="First slide">
	  </div>
	  <div class="carousel-item">
		<img class="d-block w-100" src="../static/images/banner/banner imgg.jpg" alt="Second slide">
	  </div>
	  <div class="carousel-item">
		<img class="d-block w-100" src="../static/images/banner/banner imggg.jpg" alt="Third slide">
	  </div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="sr-only">Next</span>
	</a>
  </div>

<!-- banner-bottom -->
	<div class="banner-bottom" id="prouctonsamepage">
		<div class="container">
			<div class="col-md-3 wthree_banner_bottom_left">
				<div class="video-img"></div>
			</div>
			<div class="col-md-9 wthree_banner_bottom_right">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home">Necklaces</a></li>
						<li role="presentation"><a href="#skirts" role="tab" id="skirts-tab" data-toggle="tab" aria-controls="skirts">Earrings</a></li>
						<li role="presentation"><a href="#watches" role="tab" id="watches-tab" data-toggle="tab" aria-controls="watches">Tiaras</a></li>
						<li role="presentation"><a href="#sandals" role="tab" id="sandals-tab" data-toggle="tab" aria-controls="sandals">Tops</a></li>
						<li role="presentation"><a href="#jewellery" role="tab" id="jewellery-tab" data-toggle="tab" aria-controls="jewellery">Goggles</a></li>
						<li role="presentation"><a href="#dresses" role="tab" id="dresses-tab" data-toggle="tab" aria-controls="dresses">Girls Kurti</a></li>
					</ul>
					
					<!--Necklaces -->
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Necklace1/1.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
												<!-- <ul>
														<li>
															<a href="#" data-toggle="modal" data-target="#">
																<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
														</li>
													</ul> -->
		
										</div>
									</div>
									<h5>Pendant</h5>
									<div class="simpleCart_shelfItem">
										<!--<p><span>Rs.320</span> <i class="item_price">Rs.200</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Necklace1/1.png')" value="Add to cart" class="hello123"/></p></form>-->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST', file_path='static,images,Necklace1,1.png') }}">Try it Now!</a></p>									
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Necklace1/2.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Silver Necklace</h5>
									<div class="simpleCart_shelfItem">
										<!--<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Necklace1/2.png')" value="Add to cart" class="hello123"/></p></form>-->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Necklace1,2.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Necklace1/3.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Silver Necklace</h5>
									<div class="simpleCart_shelfItem">
										<!--<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Necklace1/3.png')" value="Add to cart" class="hello123"/></p></form>-->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Necklace1,3.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Necklace1/4.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Silver Necklace</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Necklace1/4.png')" value="Add to cart" class="hello123" /></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Necklace1,4.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Necklace1/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Thread necklace</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.150</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Necklace1/5.png')" value="Add to cart" class="hello123" /></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Necklace1,5.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<!-- Earrings -->
						<div role="tabpanel" class="tab-pane fade" id="skirts" aria-labelledby="skirts-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/1.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Studs</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.100</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/1.png')" value="Add to cart" class="hello123" /></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,1.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/2.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Goldwork earrings</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/2.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,2.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/4.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Goldwork earrings</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/3.png')" value="Add to cart" class="hello123" /></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,3.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Goldwork earrings</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/4.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,4.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/6.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Goldwork earrings</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/5.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,5.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/3.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Hangings</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/6.png')" value="Add to cart" class="hello123" /></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,6.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<!--Head gears-->
						<div role="tabpanel" class="tab-pane fade" id="watches" aria-labelledby="watches-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/2.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Single Tiara</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/2.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,2.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/3.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Tiara</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.125</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/3.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,3.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Tiara</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.125</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/5.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,5.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/6.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Tiara</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.125</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/6.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,6.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/8.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Tiara</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.125</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/8.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,8.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/9.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Floral</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/9.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,9.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<!-- Tops-->
						<div role="tabpanel" class="tab-pane fade" id="sandals" aria-labelledby="sandals-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/12.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>T-shirt for Girls</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/12.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,12.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/6.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Mens Tshirt</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/6.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,6.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/7.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#>"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Top 3</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/7.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,7.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/3.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Top4</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/3.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,3.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Top5</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/5.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,5.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/shirt.jpg" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Top 6</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/4.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,4.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<!--Goggles-->
						<div role="tabpanel" class="tab-pane fade" id="jewellery" aria-labelledby="jewellery-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Sunglasses6/1.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Goggles</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Sunglasses6/1.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,1.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Sunglasses6/2.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Sun glasses</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.620</span> <i class="item_price">Rs.350</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Sunglasses6/2.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,2.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Sunglasses6/4.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Sun glasses</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.200</span> <i class="item_price">Rs.1500</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Sunglasses6/4.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,4.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Sunglasses6/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Wide glasses</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.570</span> <i class="item_price">Rs.350</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Sunglasses6/5.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,5.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Sunglasses6/6.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Shades</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.220</span> <i class="item_price">Rs.150</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Sunglasses6/6.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,6.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<!--Dresses-->
						<div role="tabpanel" class="tab-pane fade" id="dresses" aria-labelledby="dresses-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Frocks5/1.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Frock</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.320</span> <i class="item_price">Rs.270</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Frocks5/1.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Frocks5,1.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Frocks5/2.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Customized top</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.220</span> <i class="item_price">Rs.450</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Frocks5/2.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Frocks5,2.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Frocks5/3.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Customized top</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.420</span> <i class="item_price">Rs.350</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Frocks5/3.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Frocks5,3.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Frocks5/4.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Customized top</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.450</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Frocks5/4.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Frocks5,4.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Frocks5/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<!-- <ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul> -->
										</div>
									</div>
									<h5>Blue Cotton Frock</h5>
									<div class="simpleCart_shelfItem">
										<!-- <p><span>Rs.520</span> <i class="item_price">Rs.250</i></p>
									<form ><p><input type=button onclick="addToCart('static/images/Frocks5/5.png')" value="Add to cart" class="hello123"/></p></form> -->
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Frocks5,5.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
					</div>
				</div>
					<!--modal-video-->
					
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //banner-bottom -->

<!--<center>
<button id= "check_out" align="center" class="button">Try & Checkout</button>
</center>-->
<script type="text/javascript">

	var CART = []
	
	function addToCart(product) {
		if(CART.indexOf(product) == -1){
			CART.push(product)
		}
		   alert("Product added to cart!")
	}
	
	function checkOut()
	{
		alert("Checking out....")
		return CART.join(' ')
	}
	
	function runPyScript(input){
		alert("Opening dressing room with webcam...")
		var jqXHR = $.ajax({
			type: "POST",
			url: "/tryall",
			async: false,
			data: { mydata: input }
		});
	
		return jqXHR.responseText;
	}
	
	$('#check_out').click(function(){
		alert("Get ready to try!")
		datatosend = CART.join(' ');
		result = runPyScript(datatosend);
	});
	</script>

<hr id="about-page">
<center>
<img class="about-bannar" src="../static/images/banner/about-bannar.jpg" alt="">
</center>
<!-- Title page -->
<!-- <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('https://lh3.googleusercontent.com/proxy/bRsnBlUZtt32FcvUf8Fi5fNbKJVwT36DjlaluXAV-WeTmgOPseYbdgOcew7Lk0k4GFp3e27hBL04HOMSUVh1jQashGp2ZKs');"> -->

<!--<center>
	<h2 class="ltext-105 cl0 txt-center"  style="color:darkslateblue">
		About Us
	</h2>
</center>-->
<!-- </section>	 -->

<!-- Content page -
<section class="bg0 p-t-75 p-b-120" >
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Welcome to AR Ecommerce store, enjoy your shopping here!
					</h3>

					<p class="stext-113 cl6 p-b-26">
						AR Ecommerce store is the online web app of an online store trail room. 
						It enables shoppers to try on clothes, jewelry to check fit or style, but virtually 
						rather than physically If you're just looking for amazingly wearing out products while 
						sitting on your couch our TRY ON brings you the certainty that you can find whatever you need. 
						AR Ecommerce store is a supplier that ensures you best quality and best price products.  
						AR Ecommerce store was founded in 2021. Our main products are glasses and jewelry. 
						AR Ecommerce store aims to make everyone's dream come true at every special occasion in their life. 
						We have special designer groups to master the latest fashion styles. We can give you a different style for each season. 
						We are striving to put our slogan "LETS TRY ON OUR PRODUCT VIRTUALLY" into serious actions all the while.					
					</p>

					<p class="stext-113 cl6 p-b-26">
						At AR Ecommerce store, everything you see is Hand-piQed and 100% AuthentiQ – sourced straight from the best brands and their 
						authorized resellers from Pakistan and across the world, just for you. Begin your journey online with one of the fastest growing, e-commerce brands in the country and have a seamless online shopping experience. 
						Immerse yourself in the joy of browsing through the best Pakistani and international brands in fashion.
					</p>

				
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="static/images/mainpage/discountpic.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Our Mission
					</h3>

					
					<p class="stext-113 cl6 p-b-26">
						Our mission is to create an apparel virtual trial room website that can offer our users an opportunity demonstrate the products to the consumer in order to figure how will fit and look. We will accomplish this by being committed to offering great service and real value to our consumers.
					</p>
					<div class="bor16 p-l-29 p-b-9 m-t-22">
						<p class="stext-113 cl6 p-r-40 p-b-11">
							a virtual try-on can make a significant difference when it comes to marketing and sales. No matter if it’s a smart mirror in a physical store or a customized mobile application, a virtual try-on offers customers a realistic, personalized product presentation in seconds. Customers can try out dozens of products instantly, and even get related product recommendations, encouraging upsales.
						</p>

					</div>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="https://4.bp.blogspot.com/-o9jB7naqQj4/XKJddtaiK8I/AAAAAAAAHy0/8u7xQWdnJMcuQqyukPhdq3jIWUZ1LODKQCLcBGAs/s1600/m.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	-->

<br>
<hr>

<!--<div class="bg-cont">
	<div class="container">
			<center>
					<h1 class="gbb">
							Advantages
					</h1>		
			</center>	
			<hr class="gbbb">	
		<div class="row">
		<div class="col-md-6 Advantage-1">
			<h1>Consumer Advantage</h1>
			<img src="../static/images/small-banners/102.jpg" alt="">
			<p>
					Try On is an augmented reality technology that allows users to easily preview their garments on the virtual mirror, without trying them on physically.
			</p>
			<p>
					Consumers can virtually try on clothes and can even share it on social media like Facebook, Twitter, etc.
			</p>
			<p>
					The memory mirror of the virtual dressing room app enables the customers to view their outfit from various angles. It also remembers their previously tried outfits.
			</p>
		</div>
		<div class="col-md-6 Advantage-1">
			<h1>Retailer Advantage</h1>
			<img src="../static/images/small-banners/103.jpg" alt="">
			<p>
					With TryOn, retailers can share a seamless omni-channel facility with the customer and boost product purchase variety.
			</p>
			<p>
					This virtual trial room enables upgraded client engagement, and leads to far better returns on marketing efforts.			
			</p>
			<p>
					The virtual dressing room app is the next generation of interactivity with your consumers as it provides innovative ways for them to visualize and interact with products and brands.			
			</p>
		</div>
	</div>

</div>-->

</div>
  <!-- contact -->
  
  <div id="contact_us" class="bg501">  
		<center>
		  <strong>
			<h1 style="font-weight: bold; color: black">
			  FOR MORE DETAILS
			</h1>
		  </strong>
		<h3 class="mtext-111 cl2 p-b-16" style="font-weight: bold; color: darkred; font-weight: bold;">
		  Contact Us
		</h3>
		
		<p class="stext-113 cl6 p-b-26"  style="color: black">
		  Any questions? Let us know <br>SVVV UNIVERSITY, <br>Indore-Ujjain Road Gram Baroli <br>Indore, Madhya Pradesh 453111<br>0731-2729071
		</p>
		</center>
		
		<br><br>
		  <!--<center>
		  <h2 style="color: brown;">
			<strong>
				<i class="fas fa-check-circle"></i>
			  Follow Us
			</strong>
		  </h2>
		  </center>
		<center>
		  <a href="https://www.facebook.com/AR-Ecommerce-Shop-101277891794817" class="Contact-101f"><i class="fab fa-facebook-f"></i> Facebook</a>
		  <a href="https://www.instagram.com/arecommerceshop/" class="contact-101i"><i class="fab fa-instagram"></i> Instagram</a>
		  <a href="https://chat.whatsapp.com/LUkH9Xs3K5e8fMn3mF3Mgx" class="contact-101w"><i class="fab fa-whatsapp"></i> WhatsApp</a>            
			<br>
		  <a href="http://127.0.0.1:5000/" class="goto-home"><i class="fab fa-home"></i> Home</a>
		</center>-->
			</div>
		
		
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="background-color:black">

	<!--<div style="background-color: #6351ce; color: black;">
	  <div class="container">
  
		<div class="row py-4 d-flex align-items-center">
  
		  <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
			<h6 class="mb-0">Let's TryOn our products virtually</h6>
		  </div>
  
		  <div class="col-md-6 col-lg-7 text-center text-md-right">
  
			
			<a class="fb-ic" href="https://www.facebook.com/AR-Ecommerce-Shop-101277891794817" style="color: black">
			  <i class="fab fa-facebook-f white-text mr-4"> </i>
			</a>
			
			<a class="tw-ic" style="color:black">
			  <i class="fab fa-twitter white-text mr-4"> </i>
			</a>
			<a class="gplus-ic" style="color:black" href="https://mail.google.com/mail/u/0/?tab=cm">
			  <i class="fab fa-google-plus-g white-text mr-4"> </i>
			</a>
			<a class="li-ic" style="color:black" href="">
				<i class="fab fa-whatsapp white-text mr-4"></i>
			</a>
			
			<a class="ins-ic"  href="https://www.instagram.com/arecommerceshop/" style="color:black">
			  <i class="fab fa-instagram white-text"> </i>
			</a>
	
		  </div>
  
		</div>
  
	  </div>
	</div>-->
  
	<!-- Footer Links -->
	<div class="container text-center text-md-left mt-5">
  
	  <!-- Grid row -->
	  <div class="row mt-3">
  
		<!-- Grid column -->
		<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
		  <!-- Content -->
		  <h6 class="text-uppercase font-weight-bold">Company Scope</h6>
		  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
		  <p>Our Aim is to enable user to choose clothes, Shoes & Glasses best for them, without them having to go through the failure to buying some clothes and getting them size in a manner not suited for their need or body type.</p>
  
		</div>
		<!-- Grid column -->
  
		<!-- Grid column -->
		<!--<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
		   Links 
		  <h6 class="text-uppercase font-weight-bold">Project</h6>
		  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
		  <p>
			  <a href="http://127.0.0.1:5000/#about-page" class="link-footer-101">About-Us</a>	</p>
			<br>
		   <p>
			<a href="http://127.0.0.1:5000/Features" class="link-footer-101">Features</a>
		  </p>
			<br>
		  <p>
			<a href="http://127.0.0.1:5000/Features" class="link-footer-101">Upcoming Features</a>
		  </p> 

		</div>-->
		<!-- Grid column -->
  
		<!-- Grid column -->
		<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
		  <!-- Links -->
		  <h6 class="text-uppercase font-weight-bold">GET IN TOUCH</h6>
		  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
		  <p>
				Any questions?  				
		  </p>
			<p>
					Let us know <br>SVVV UNIVERSITY, <br>Indore-Ujjain Road Gram Baroli  <br><br>+92333-2122367
			</p>
		</div>
		<!-- Grid column -->
  
		<!-- Grid column -->
		<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
		  <!-- Links -->
		  <h6 class="text-uppercase font-weight-bold">Contact</h6>
		  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
		  <p>
			<i class="fas fa-home mr-3"></i>Indore,Madhya Pradesh.</p>
		  <p>
			  <br>
			<i class="fas fa-envelope mr-3"></i>Minorproject786@gmail.com</p>
			<br>
		<p>
			<i class="fas fa-phone mr-3"></i>8519072532</p>
		  <p>
			  <br>
			<i class="fas fa-print mr-3"></i>8463070314</p>
  
		</div>
		<!-- Grid column -->
  
	  </div>
	  <!-- Grid row -->
  
	</div>
	<!-- Footer Links -->
  
	
	<!-- Footer Elements -->
	<div>
  
			<!-- Call to action 
			<ul class="list-unstyled list-inline text-center py-2">
			  <li class="list-inline-item">
				  <strong><h4 class="mb-1">Register for free</h4></strong>
			  </li>
			  <li class="list-inline-item">
				  <button class="button-btnsignup">  <a href="http://127.0.0.1:5000/signup" class="btnsignup btn-outline-white btn-rounded">Sign up!</a></button>
			  </li>
			</ul>
			 Call to action -->
	  
	<!-- Copyright 
	<div class="footer-copyright text-center py-3">© 2021 Copyright:
	  <a href="http://127.0.0.1:5000/" class="link-footer-101">www.ares.com</a>
	</div>
	 Copyright -->
  
  </footer>
  <!-- Footer -->



</body>
</html>